%p Welcome to Upside Down Academy

%br

%p You can log in to your account using this email:

%p= @user.email

%p= link_to("Your Lessons", lessons_my_index_path)

%br

%p Please create as many lessons as you can.

%p It doesn't have to be professional.

%p You don't have to be an expert.

%p Just try to make it easier for the next person to learn what ever you are learning right now.

%p Create a video, write out a lesson, sing a song, what ever you think will help the next person best.

%br
%p
  Thanks,
  %br
  Jared

%br
%p
  Jared Cosulich
  %br
  Founder
  %br
  Upside Down Academy
