Welcome to Upside Down Academy

You can log in to your account using this email:

= @user.email


Please create as many lessons as you can.

It doesn't have to be professional.

You don't have to be an expert.

Just try to make it easier for the next person to learn what ever you are learning right now.

Create a video, write out a lesson, sing a song, what ever you think will help the next person best.


Thanks,
Jared


Jared Cosulich
Founder
Upside Down Academy
