%h2 Upload Your Video

- if notice.present?
  #notice{:style => "background-color: #FFFBCC; padding: 12px; margin: 12px 0;"}= notice

%p Please select the video you would like to upload.
%p Generally speaking it's best to keep videos short, but it's up to you.

= render "video_form"
