%h2
  = "#{link_to @lesson.subject, edit_lesson_path(@lesson, :edit_subject => 1)}: ".html_safe
  = link_to @lesson.title, edit_lesson_path(@lesson, :edit_title => 1)

- unless @lesson.confidence_text.blank?
  %p
    %b Confidence Level: 
    = link_to @lesson.confidence_text, edit_lesson_path(@lesson, :edit_confidence => 1)

%br
