- if @lesson.published_at.present?
  %b Published:
  = @lesson.published_at.strftime("%m/%d/%Y")
- elsif lesson_owner?(@lesson)
  %b Unpublished:
  - if @lesson.body.present?
    .publish_lesson
      = form_for(@lesson) do |f|
        = f.hidden_field :published_at, :value => Date.today
        %a Publish lesson >
  - else
    Please add lesson text before publishing.
