%h2 Link To Great Reference Material
%p
  What reference material did you find helpful in learning this material?
%p
  This can be another lesson from this site, a book, a website, etc.

= render 'form'
