%h3 Project Based Learning

%p
  Upside Down Academy is designed to make it easy to turn any lesson in to
  a project where the students can demonstrate their own creativity by
  figuring how they would teach the lesson themselves.

%p
  Instead of just tasked with learning the material, they're tasked with
  trying to teach it in the best way they can imagine. Of course, in doing so,
  they're also learning the material :)


%br
%h3 Purpose Based Learning

%p
  Even the best project sometimes falter because they're not lasting. They will
  likely be thrown out or put in the back of a closet somewhere once the project is complete.
  With Upside Down Academy students are trying to make it easier for future students
  to learn the same material.

%p
  This responsibility changes the dynamic of learning, transforming it in to something
  that has impact, a potent motivator.


%br
%h3 Just Learning

%p
  Over time Upside Down Academy will be building up a wealth of student-created lessons.
  Lessons that students designed to try and make it easier for their fellow students
  to learn. This will provide great supplemental materials for any student to try and
  learn from.


%br
%h3 Real World Skills

%p
  One of the main reasons I built Upside Down Academy was to encourage the development
  of empathy, creativity, and communication. After years in the Internet startup world,
  those skills are some of the most valued in my observation. I would love to see more
  student developing those schools during their education. I hope that Upside Down
  Academy can help with that.
