%h2 Learning Needs To Happen Everywhere

%p Upside Down Academy is not just for students in school.

%p
  We welcome anyone and everyone to learn from the lessons others
  have created and create their own lessons.

%p
  If we don't treat learning as a life-long endeavor then we do ourselves
  a great disservice.

%p
  Hopefully Upside Down Academy can give people who can't afford a more
  traditional education or don't have time to attend classes, an opportunity to
  continue their learning at their own pace.  
