- @title = "For Students"

%h2 Built By Students For Students

%p
  All of the lessons on Upside Down Academy are created by students trying to make life
  easier for their fellow students.

%p
  Explore thousands of lessons created by people just like you who are trying to
  make it easier for everyone else to learn.

%p
  Create your own lessons and help make life a little easier for students just like
  you all around the world.

%p
  Just take what ever you are learning right now and think about how you would try
  and teach it to someone else. How would you make it a little less confusing or a
  little more fun to learn.

%p  
  Once you've got that figured out,
  = link_to("create a lesson >", new_lesson_path)
