- @title = "For Home Schoolers"

%h2 Built For Home Schoolers

%p
  Whether you're a home schooler or simply in a non-traditional educational environment,
  Upside Down Academy was built with you in mind.

%p
  As I thought about home schooling my own child I knew I would want to make everything
  project based, but I didn't know how I would come up with so many projects, or how
  challenging it would be to find materials and instructions for so many projects.

%p
  The idea for Upside Down Academy came from the idea that a great default project would
  simply be to have my child try and teach other kids what ever he or she was learning.

%p
  It would be subject agnostic, allowing my kid to learn what ever they wanted to learn
  and we'd have an easy project to do right off the bat.

%p
  It doesn't mean you can't do other projects, just try to create lessons about those as well :)

%p
  I was also very attracted to the idea that my child would be developing a sense of empathy
  in trying to figure out how best to help someone else, as well as communication in trying
  to figure out how best to transfer information to someone else.
