- @title = "About"

%p Upside Down Academy is a work in progress. It was created by <a href='http://puzzleschool.com'>The Puzzle School</a>.

%p
  At it's heart Upside Down Academy is about making it easier
  for students to help each other learn through a creative, open-ended process.

%br

%p
  The site is designed to make it easy to turn any lesson in to project-based learning. 
  By creating lessons to teach their peers, a number of beneficial processes are encouraged:
 
%ul
  %li Students do creative work that allows for autonomy (they can approach the video how ever they want).
  %li Students have the opportunity to redesign, reshoot, edit, and iterate toward a video they are proud of.
  %li Students create something that has lasting value beyond just a grade and can actually be used by other students to learn.
  %li 
    While trying to teach the lesson students will be exposed to the 
    = link_to("Protégé Effect", 'http://ideas.time.com/2011/11/30/the-protege-effect/', :target => '_blank')
    where more learning takes place while trying to teach.
%p
  In addition to these potential benefits, students are creating lessons that they can refer back to later on,
  both as refreshers of their own learning as well as a portfolio of projects they have completed.

%br
%br
%br
%br
%br
%br
%br
%br
%br
%br
