%p Upside Down Academy is a work in progress.
%p
  The site was created to help make it easier for educators everywhere
  to make school more engaging on a number of levels.
%p
  It is designed to make it easy to turn any lesson in to project-based learning,
  to encourage students to think empathetically and improve their communication skills.
  I hope that the idea of helping other students, like themselves, learn more easily,
  will be a better motivation then simply trying to memorize some material.

%br
%br

%p
  I know there are many great teachers and schools out there that
  are engaging and challenging students in creative ways every day,
  but from my experience and observations such a quality education
  is, unfortunately, more the exception then the norm.
%p
  I'm about to have my first child and the thought of asking him or her
  to attend schools every day for 15+ years that focus more on memorization
  than understanding, more on obedience rather than creativity, more on
  test-taking than on creating something of value... Well, the thought is not
  one I can live with comfortably.

%br
%br

%p An amazing education should be available to everyone, and it shouldn't require super-hero teachers.
%p This site is one step toward trying to help with that.

%br
%br

%p - Jared Cosulich
%p
  If you want to know more about me go here:
  = link_to("Jared Cosulich", "http://about.me/jaredcosulich", :target => "_blank") 
