- @title = "About"

%p Upside Down Academy is a work in progress.
%p
  The site was created to help make it easier for educators everywhere
  to make education more engaging on a number of levels.
%p
  It is designed to make it easy to turn any lesson in to project-based learning,
  to encourage students to think empathetically, creatively, and improve their communication skills.
%p
  Trying to teach something you have just learned is a great way to challenge your
  understanding of the material. By taking student efforts to teach and putting them online it not only
  creates a wealth of "peer-tutoring" resources, but also gives students a greater sense
  of impact: they're helping make life easier for their fellow students.

%br
%br

%p
  I know there are many great teachers and schools out there that
  are engaging and challenging students in creative ways every day,
  but from my experience and observations such a quality education
  is, unfortunately, more the exception then the norm.
%p
  I'm about to have my first child and the thought of asking him or her
  to attend schools every day for 15+ years that focus more on memorization
  than understanding, more on obedience rather than creativity, more on
  test-taking than on creating something of value... Well, the thought is not
  one I can live with comfortably. Again, I know many classrooms, teachers,
  and schools exceed this description, but I truly believe there's no reason
  that such an environment ever has to exist in a school.

%br
%br

%p An amazing education should be available to everyone.
%p This site is one step toward trying to help with that.

%br
%br

%p - Jared Cosulich
%p
  If you want to know more about me go here:
  = link_to("Jared Cosulich", "http://about.me/jaredcosulich", :target => "_blank") 
