%p Upside Down Academy is a work in progress.
%p I created it to help improve education.
%p
  Basically I'm about to have my first child and
  I can't stand the thought of him/her spending
  15 years memorizing facts, being bored by school,
  not producing anything creative, and not creating
  anything of value.
%p
  I know there are many many many schools and teachers
  out there that exceed the description above, but there
  are far more schools and teachers that fit that description
  perfectly.
%p
  Even if I could afford to send my child to a school
  that met my expectations, there's no reason that every
  school shouldn't be able to meet those same expectations.
%p An amazing education shouldn't require super-hero teachers.
%p This site is one step toward trying to fix that.

%br
%br

%p - Jared Cosulich
%p
  If you want to know more about me go here:
  = link_to("Jared Cosulich", "http://about.me/jaredcosulich", :target => "_blank") 
