.for_who
  overflow: hidden
  .section
    h2
      margin-bottom: 0
    float: left
    border-right: 1px solid #ccc
    padding-right: 12px
    margin-right: 12px
    width: 294px
  .last
    margin: 0
    padding: 0
    border: none

.site_instructions
  font-size: 18pt
  li
    margin-bottom: 12px

.why
  padding-top: 6em
  float: right
  width: 300px

.explore
  clear: both
  padding-top: 30px
  li
    padding-bottom: 6px
  table
    width: 100%
    td
      width: 33%
      vertical-align: top

.separator
  padding-top: 45px
  margin-top: 45px
  border-top: 1px solid #ccc
