// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lesson_tip
  margin-bottom: 30px

.must_register
  clear: both
  margin-top: 30px
  td
    vertical-align: top
    text-align: right
  .field
    input
      width: 12em
      margin-right: 12px

.example_lesson_info
  width: 360px
  border: 1px solid #ccc
  background-color: #eee
  padding: 12px
  margin-bottom: 30px

.photos_and_videos
  margin-top: 30px
  width: 360px  
  .video_thumbnail
    overflow: hidden
    img
      float: left
      margin-right: 12px
