#header
  #logo
    %h1
      = "<span class='upside_down'>∩</span>pside Down <span class='upside_down'>∀</span>cademy".html_safe

    %h2 Where the students do the teaching

  #basic_navigation
    %p "The best way to learn is to try and teach."
    %p
      = link_to("My Stuff", "")
      &nbsp; | &nbsp;
      = link_to("Register", "")
      &nbsp; | &nbsp;
      = link_to("Log In", "")
